# В този файл са специфицирани външните библиотеки и dependencies, необходими на проекта. Файлът подсигурява, че всеки, който run-не проекта ще инсталира нужните пакети на нужните версии

Flask==2.1.2
psycopg2-binary==2.9.3
Werkzeug==2.0.3